.contact {
    margin-top: 10px;
    color: skyblue;
    font-size: 16px;
}

.mailandno {
    display: inline-block;
    text-align: right;
}

span {
    color: black;
}

.profile-image {
    height: 3%;
    border-radius: 80%;
    margin-top: 40px;
}

.education {
    padding-left: 15px;
    padding-right: 15px;
}

.background-image {
    background-repeat: no-repeat;
    background-image: url("static/images.png");
}

.paing {
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt-align {
    text-align: center;
}

.description {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding-bottom: 20px;
}

.activities {
    argin-left: 15px;
}

.about {
    margin-top: 20px;
    font-size: 20px;
}

.uline {
    border-bottom: 2px solid blue;
}

.col-sm-12 {
    margin-left: 20px;
    margin-right: 30px;
}

.skills-icon {
    padding-bottom: 5px;
}

.about-content {
    font-size: 20px;
    font-family: serif;
}

.cont-know {
    margin: auto;
    display: inline-block;
    text-align: center;
}

.lightcolor {
    color: grey;
}

.second-content {
    margin-top: 25px;
}

.lang {
    margin-top: 20px;
    font-size: 15px;
    padding-left: 20px;
}

.clang {
    margin-top: 20px;
    font-size: 20px;
    padding-left: 30px;
}

.skl {
    font-size: 25px;
    margin-top: 13px;
}

.border-bottom {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    padding-top: 5px;
}

.education {
    margin-left: 30px;
    marin-right: 30px;
}

.edu {
    margin-top: 10px;
    pading: 20px;
    background-color: skyblue;
    text-align: center;
}

.edu-des {
    margin-top: 20px;
    pading: 20px;
    height: 100px;
    background-color: transparent;
    background-image: linear-gradient(-90deg, skyblue, transparent);
    text-align: center;

}

.project {
    color: skyblue;
    border-bottom: 2px solid gray;
}

.pro-title {
    margin-bottom: 5px;
    margin-top: 5px;
}

.pro-project {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.border-project {
    border: 1px solid grey;
}

.text-carousel {
    margin-top: 10px;
    height: auto;
    background-color: #f0f8ff;
}


@media screen and (min-width:768px) {

    .contact {
        margin: 10px;
        color: skyblue;
    }
    .txt-align {
        text-align: center;
    }
    .description {
        font-size: 30px;
        color: orange;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    .profile-image {
        width: 20px;
        border-radius: 100%;
        margin-top: 10px;
    }
    .background-image {
        background-repeat: no-repeat;
        background-image: url("static/network-1000x440.jpg");
    }
    .about {
        font-size: 24px;
    }
    .uline {
        border-bottom: 2px solid blue;
    }
    .about-content {
        font-size: 20px;
        font-family: serif;
    }

    .lightcolor {
        color: grey;
    }
    .background-image {
        background-repeat: no-repeat;
        background-image: transparent;
    }
    .education {
        padding-left: 15px;
        padding-right: 15px;
    }

}
