body {
    font-size: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

p {
    font-size: 20px;
}

.medium1 {
    display: none;
}

@media screen and (min-width:768px) {
    p {
        color: gray;
    }
    .medium {
        width: 50%;
        display: inline-block;
    }
    .medium1 {
        width: 50%;
        display: inline-block;
    }
    .small {
        display: none;
    }
}
