.navvbar {
        margin-top: 20px;
        background-color: gray;
        color: white;
}

.imglogo {
        padding-top: 6px;
        bkground-color: white;
}

.up {
        text-align: right;
        padding-top: 5px;
        padding-bottom: 3px;
}

.more {
        display: inline-block;
        paddng-left: -03px;
        text-align: right;
}

.exp {
        text-align: center;
        color: gray;
        margin-top: 5px;
        padding-top: 5px;
        paddng-bottom: 10px;
}

.tbfoot {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        color: gray;
        margin-bottom: 5px
}

.topc {
        border-bottom: 1px solid blue;
        padding-bottom: 6px;
}

.topic {
        color: gray;
        text-align: center;
        background-color: #f2f2f2;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 8px;
}

.opengl {
        text-align: center;
        color: gray;
        margin: 10px;
        padding-bottom: 10px;
        border: 1px solid #f2f2f2;
}

.imgopen {
        width: 55px;
        padding-top: 20px;
        padding-bottom: 03px;
}

.flask {
        text-align: center;
        color: gray;
        margin: 10px;
        padding-bottom: 10px;
        border: 1px solid #f2f2f2;
}

.gradle {
        text-align: center;
        color: gray;
        margin: 10px;
        padding-bottom: 10px;
        border: 1px solid #f2f2f2;
}

.fettop {
        padding-top: 40px;
        padding-bottom: 20px;
}

h6 {
        margin: 10px;
}

p {
        margin: 10px;
        margin-top: -10px;
}

.pp {
        margin-left: 10px;
        margin-top: -12px;
}

.hash {

        text-align: center;
        margin-top: 33px;

}

.bdrfea {
        padding-bottom: 15px;
        border-bottom: 1px solid #f2f2f2;
}

.span {
        background-color: #e6f9ff;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 25px;
        padding-left: 25px;
}


.imgamp {
        width: 55px;
}

.imgfea {
        margin-top: 15px;
}

.load {
        text-align: center;
        color: #6a5acd;
        border: 1px solid #f2f2f2;
        margin-top: 20px;
        padding-top: 15px;
        margin-bottom: 40px;
}

.button2 {
        color: #87cefa;
        background-color: #e6f9ff;
        border-radius: 3px;
        border: none;
        font-size: 09px;
        margin-right: 4px;
        margin-bottom: 5px;
}
