 /*HEADER*/

 .gimg {
  margin-top: 15px;
  marin-right: 6px;
  width: 18%;
  pading-top: 20px;
  color: gray;
 }

 .gmt {
  margin-top: 30px;

 }

 .bdrbtm {
  border-bottom: 1px solid gray;
 }

 .button {
  text-align: right;
  padding-top: 20px;
 }

 .in {
  text-align: right;
  padding-top: 10px;
 }

 .for {
  text-align: left;
  padding-top: 10px;

 }

 /*DESKTOP Foot*/

 .ftbgc {
  dispay: inline-block;
  background-color: #f8f9fa;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
 }

 .dskfoot {
  display: inline-block;

 }

 a {
  color: gray;
 }

 .span {
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 8px;
  display: inline-block;
  font-size: 13px;
 }

 .our {
  margin-right: 50px;
 }

 .h5 {
  pading-left: 10%;
 }

 .que {
  width: 18px;
 }

 .help {
  margin-left: 0px;
 }

 .dd {
  display: inline-block;
  text-align: right;
  padding-top: 8px;
 }


 /*mobile*/

 .mbftrw {
  display: inline-block;
  background-color: #f8f9fa;
 }

 .mbfoot {
  display: inline-block;
  text-align: left;
  margin-right: 15px;
  padding-bottom: 10px;
  color: gray;

 }

 p {
  margin-left: -15px;
  display: inline-block;
  text-align: left;
  color: gray;
  font-size: 20px;
 }

 .mbftbg {
  background-color: #f8f9fa;
  padding-left: 0px;
  pading-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
 }

 .help {
  margin-left: -16px;
 }

 .mobque {
  width: 18px;
 }

 .mobdd {
  display: inline-block;
  paing-top: -28px;
  margin-left: 210px;
 }

 .link {
  color: gray;
  font-size: 14px;
 }

 .content {
  border: 2px solid black;
 }
 